# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# 2 space indentation for common web files
[*.{js,jsx,ts,tsx,mjs,cjs,json,jsonc,html,css,scss,sass,yaml,yml}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Package files
[{package.json,*.lock}]
indent_style = space
indent_size = 2
